.title
    display inline-block

.list-item
    display flex

.checkbox-outer
    display: flex
    align-items: center

.checkbox
    display inline-block
    width 13px
    height 13px
    border 1px solid #CCC
    border-radius 2px
    margin: 0 3px

.checkbox-value:checked+.checkbox
    background-color pink

.checkbox-value
    width: 0
    height: 0
    position: absolute

.checkbox-value:checked:after
    content: '\2714'
    left: 1px
    top: -12px
    position: absolute
